tmp/
.idea/
*.iml
*.log
*.out
dumps/
*.orig
.vscode/
/.examples/docker-compose/with-nginx-proxy-self-signed-ssl/mariadb/fpm/apps/
/.examples/docker-compose/with-nginx-proxy-self-signed-ssl/mariadb/fpm/config/
/.examples/docker-compose/with-nginx-proxy-self-signed-ssl/mariadb/fpm/data/
/.examples/docker-compose/with-nginx-proxy-self-signed-ssl/mariadb/fpm/certs/
/.examples/docker-compose/with-nginx-proxy-self-signed-ssl/mariadb/fpm/backup/
/.examples/docker-compose/with-nginx-proxy-self-signed-ssl/mariadb/fpm/web.test/
/.examples/docker-compose/with-nginx-proxy-self-signed-ssl/mariadb/fpm/db.env

