
# server fully qualifed domains (of TLS certificates, used at `web/nginx.conf`)
export SERVER_FQ_DOMAINS="breitbandig.de *.breitbandig.de netzgeneration.com *.netzgeneration.com"
# dns resolver to use inside nginx
# 10.0.2.3 is the (normal) podman (user) resolver
export DNS_RESOLVER_IP="10.0.2.3"
